.delete-spot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: none;
  }

  .confirm-spot-delete-box {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .spot-yes-no-delete-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .spot-yes-no-delete-button button {
    margin-right: 10px;
  }
