#logo-container {
    color: #a19ef0;
    border-bottom: lightgray 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  #logo-container > a {
    text-decoration: none;
  }

  .spot-link {
    text-decoration: none;
  }

  /* #create-spot-container {
  display: flex;
  align-items: center;
} */

/* #create-spot-container p {
  margin: 0;
  padding: 10px;
} */

 #logo-name-container {
    color: #a19ef0;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
  }

  #nav-container {
    color: #a19ef0;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 30px;
    border: #a19ef0 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin-left: -1200px;
  }

  #nav-container > * {
    background-color: white;
    font-size: 20px;
    border: none;
    margin-left: 5px;
  }

  .hidden {
    display: none;
  }


  /* ul li:hover .profile-dropdown {
    display: block;
  }

  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 80px;
    display: none;
  } */
